@use "../custom" as *;
@use "../components/mixins" as *;

.testimonials {
  position: relative;
  padding: 0;
  @include gradient;

  &__card {
    background-color: rgba($white, 0.8);
    padding: 3.5rem 1.5rem;
    border-radius: 0.625rem;
    height: auto;
    text-align: center;

    i {
      font-size: 1.5rem;
      color: rgba($primary, 0.7);
    }

    .ratings {
      i {
        font-size: 1rem;
      }
    }
  }

  &__image {
    position: absolute;
    width: 6rem;
    height: 6rem;
    left: 50%;
    transform: translate(-50%, -50%);

    img {
      border-radius: 50%;
      border: 0.325rem solid rgba($primary, 0.7);
    }
  }

  &__name {
    padding-top: 4rem;
    margin-bottom: 1rem;
    color: $white;
    text-align: center;
    font-weight: 500;

    p {
      padding-bottom: 2rem;
      text-transform: capitalize;
    }
  }
}
